image:
  repository: ghcr.io/fractalnomad/xenorchestracommunity
  tag: ""  # defaults to Chart.Version if empty
  pullPolicy: IfNotPresent

# Port the application container listens on
containerPort: 8080

service:
  type: ClusterIP
  port: 80

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
  - host: xen-orchestra.local
    paths:
    - path: /
      pathType: Prefix
  tls: []

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}

persistence:
  enabled: true
  size: 5Gi
  storageClass: ""

env: []

redis:
  image: redis:7-alpine
  port: 6379
  resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  persistence:
    enabled: false
    size: 2Gi
    storageClass: ""
