apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xoc.fullname" . }}-config
data:
  config.toml: |
    [http]
    port = {{ .Values.containerPort }}
    {{- if .Values.http.hostname }}
    hostname = '{{ .Values.http.hostname }}'
    {{- end }}
    {{- if and .Values.http.https.enabled .Values.http.redirectToHttps }}
    redirectToHttps = true
    {{- end }}

    {{- if .Values.http.https.enabled }}
    {{- if .Values.http.https.cert }}
    cert = '{{ .Values.http.https.cert }}'
    {{- end }}
    {{- if .Values.http.https.key }}
    key = '{{ .Values.http.https.key }}'
    {{- end }}
    {{- if .Values.http.https.autoCert }}
    autoCert = true
    {{- end }}
    {{- if .Values.http.https.acme.enabled }}
    [[http.listen]]
    port = 443
    redirectToHttps = true
    {{- if .Values.http.https.acme.domain }}
    acmeDomain = '{{ .Values.http.https.acme.domain }}'
    {{- end }}
    {{- if .Values.http.https.acme.email }}
    acmeEmail = '{{ .Values.http.https.acme.email }}'
    {{- end }}
    {{- if .Values.http.https.acme.ca }}
    acmeCa = '{{ .Values.http.https.acme.ca }}'
    {{- end }}
    {{- end }}
    {{- end }}

    {{- if .Values.http.cors.enabled }}
    [http.cors]
    enabled = {{ .Values.http.cors.enabled }}
    {{- if .Values.http.cors.origin }}
    origin = '{{ .Values.http.cors.origin }}'
    {{- end }}
    {{- end }}

    {{- if .Values.http.static.enabled }}
    [[http.static]]
    path = '{{ .Values.http.static.path }}'
    dir = '{{ .Values.http.static.dir }}'
    {{- end }}

    # --- Redis wiring ---
    [redis]
    uri = "redis://{{ include "xoc.fullname" . }}-redis:{{ .Values.redis.port }}/0"

    [sessions]
    type = "redis"

    [remoteMessages]
    type = "redis"

    [queues]
    type = "redis"

    [tasks]
    type = "redis"
    {{- if not .Values.tasks.persistLogs }}
    persistLogs = false
    {{- end }}

    [logs]
    {{- if .Values.logs.level }}
    level = '{{ .Values.logs.level }}'
    {{- end }}
    {{- if .Values.logs.syslog.enabled }}
    [logs.transport.syslog]
    target = '{{ .Values.logs.syslog.target }}'
    {{- end }}
