apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "xoc.fullname" . }}-config
data:
  config.toml: |
    [http]
    [[http.listen]]
    port = {{ .Values.containerPort }}

    [redis]
    uri = "redis://{{ include "xoc.fullname" . }}-redis:{{ .Values.redis.port }}/0"
